Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
# Question 1
a = "Sanket"
l = [1,2,3,'sanket',5.4]
b = 5.4
t = ("bat","ball","stumps")
print(type(a))
print(type(l))
print(type(b))
print(type(t))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [8]:
# Question 2
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [9]:
# Question 3

# 1. / operator is used for division
print(5/4)
# 2. % operator is used to get the remainder
print(5%4)
# 3. // operator is used for floor division
print(5//4)
# 4. ** operator is used for exponential i.e power calculation
print(5**4)

1.25
1
1
625

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [14]:
l = [2,3,4,5,6,'sanket','deshmukh',5.4,6.7,10]
for i in l:
    print(i)
    print(type(i))

2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
sanket
<class 'str'>
deshmukh
<class 'str'>
5.4
<class 'float'>
6.7
<class 'float'>
10
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [21]:
a = 100
b = 5
count = 0
while((a // b) > 0):
    count = count + 1;
    a = a / b
    # print(a)
print("a is divisible by b ",count," times")

a is divisible by b  2  times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [23]:
l = list(range(1,26))
for i in l:
    if(i % 3 == 0):
        print(i," is divisible by 3")
    else:
        print(i," is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable are those which can be changed.
Immutable are those which cannot be changed.
For example, string is immutable and list is mutable.

In [28]:
l = [1,2,3,4,5]
for i in l:
    print(i)
l[1] = 20
for i in l:
    print(i)
s = "sanket"
for i in s:
    print(i)
s[1] = 'm'

1
2
3
4
5
1
20
3
4
5
s
a
n
k
e
t

TypeError: 'str' object does not support item assignment