In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame({'course_name' : course_name, 'duration' : duration})

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [9]:
df[['course_name','duration']][2:3]

  course_name  duration
2    Big Data         6

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

    Use loc when you want to access data based on labels or index names.
    Use iloc when you want to access data based on integer positions.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [10]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [12]:
new_df = df.reindex([3,0,1,2])

In [13]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [16]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [17]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, window functions (also known as rolling or moving functions) are used for performing calculations on a sliding window of data points within a DataFrame or Series. These functions are particularly useful for analyzing trends, patterns, and aggregations over a specific window of data points. The window is defined by a fixed number of preceding or succeeding data points.

Here's a general idea of how window functions work:

1. **Create a Window**: You define a window of a certain size (number of data points) that moves over the data. For example, a window size of 3 means that the function will operate on the current data point along with the previous two data points.

2. **Apply a Function**: You apply a specific function to the data points within the defined window. This function can be an aggregation function like mean, sum, etc., or it could be a transformation function.

3. **Output**: The result of the function applied to the window is stored at the position of the last data point in that window.

Pandas provides several window functions to facilitate this kind of analysis. Some commonly used window functions include:

1. **Rolling Window Functions**:
   - `rolling()`: Creates a rolling view of a DataFrame or Series, which allows you to apply various aggregation or transformation functions.
   - `mean()`: Computes the rolling mean for the specified window size.
   - `sum()`: Computes the rolling sum for the specified window size.
   - `std()`: Computes the rolling standard deviation for the specified window size.

2. **Expanding Window Functions**:
   - `expanding()`: Creates an expanding view of a DataFrame or Series, where the window size grows with each new data point.
   - `cumsum()`: Computes the cumulative sum for each data point.
   - `cumprod()`: Computes the cumulative product for each data point.

3. **Exponential Moving Average (EMA)**:
   - `ewm()`: Computes the exponential moving average, which assigns more weight to recent data points.

Here's an example of using the rolling mean function in pandas:

```python
import pandas as pd

# Create a sample DataFrame
data = {'values': [10, 20, 30, 40, 50, 60, 70, 80]}
df = pd.DataFrame(data)

# Calculate the rolling mean with a window size of 3
rolling_mean = df['values'].rolling(window=3).mean()

print(rolling_mean)
```

This will output the rolling mean values for each window of size 3.

Window functions are extremely helpful for time-series analysis, trend identification, and various other types of data analysis where patterns evolve over time.